/* HTML, BODY AND WRAPPER TAGS */

html, body {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	margin: 0px;
	padding: 0px;
	font-family: Montserrat, Helvetica, Arial, sans-serif;
	height: 100%;
	background-color: #312925;
	color: #000000;
}

input {
	font-family: Montserrat, Helvetica, Arial, sans-serif;
}

textarea {
	font-family: Montserrat, Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, p {
	margin: 0px;
	padding: 0px;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

/* HEADER */

#header {
	background-color: #54E50D;
	height: 106px;
}

#header_nav ul {
	float: left;
	list-style: none;
	text-align: center;
	padding: 36px 0px 0px 20px;
	margin: 0px;
}

#header_nav li {
	display:inline-block;
	line-height: 34px;
	height: 34px;
	color: #ffffff;
	font-size: 22px;
	font-weight: bold;
	background-color: #B0683A;
	cursor: pointer;
}

#header_nav a {
	padding: 0px 10px 0px 10px;
	text-decoration: none;
	color: #ffffff;
	display: block;
}

#header_nav a:active {
	color: #54E50D;
}

#header_logo {
	float: right;
	background-image:
		url("http://www.primeit.pt/public/imgs/id/png/id-primeit-negative.png");
	background-size: 150px 106px;
	background-repeat: no-repeat;
	width: 150px;
	height: 106px;
}

#header_description {
	float: right;
	font-size: 20px;
	font-weight: bold;
	padding-right: 16px;
	padding-top: 42px;
	color: white;
}

/* CONTENT */

#content {
	overflow: hidden;
	padding-bottom: 100px; /* Height of the footer element */
}

#container {
	background-color: white;
	overflow: hidden;
	margin: 40px 40px 0px 40px;
	padding: 5px 5px 5px 5px;
}

#menu_buttons {
	margin-bottom: 20px;
}

.button {
	display:inline-block;
	line-height: 34px;
	height: 34px;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	background-color: #54E50D;
	cursor: pointer;
}

.button a {
	padding: 0px 10px 0px 10px;
	text-decoration: none;
	color: #fff;
	display: block;
}

.button a:active {
	color: #B0683A;
}

/* PROJECT */

.project {
	float: left;
	padding: 10px 10px 0px 10px;
	background-color: rgb(220, 220, 220);
	width: 200px;
	height: 220px;
	overflow: hidden;
	cursor: pointer;
	margin-right: 5px;
}

.project:active {
	outline:1px solid #54E50D;
}

.project_title {
	font-size: 18px;
	margin-bottom: 5px;
	color: black;
	word-wrap: break-word;
}

.project p {
	color: rgb(130, 130, 130);
	word-wrap: break-word;
}

.project_description {
	font-size: 14px;
}

.project_updated {
	margin-top: 5px;
	font-size: 11px;
}

#project_header p {
	margin-top: 5px;
	color: rgb(100, 100, 100);
}

.project_task {
	margin-bottom: 5px;
}

.project_task_description {
	font-size: 14px;
}

#project_tasks_finished {
	margin-top: 10px;
}

/* TASK */

#task_container {
	clear: both;
	overflow: hidden;
}

#task_header {
	clear: both;
	overflow: hidden;
}

#task_header_left {
	float: left;
}

#task_header_right {
	float: right;
}

#task_project_title {
	margin-bottom: 10px;
}

#task_information {
	clear: both;
	overflow: hidden;
}

#task_description {
	font-size: 18px;
	margin-bottom: 10px;
}

.task_date {
	margin-top: 5px;
	font-size: 12px;
}

#task_users {
	margin-top: 20px;
}

#task_users h3 {
	margin-bottom: 10px;
}

.task_user {
	float: left;
	display: inline-block;
	background-color: #B0683A;
	color: white;
	padding: 5px 5px 5px 5px;
}

.default_form {
	text-align: center;
	font-size: 20px;
}

.default_form [type="submit"] {
	background: none;
	outline: 0;
	border: 0;
	margin-top: 10px;
	width: 200px;
	height: 34px;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	background-color: #54E50D;
	cursor: pointer;
	padding: 0px 10px 0px 10px;
}

.default_form [type="submit"]:active {
	color: #B0683A;
}

.default_form [type="text"], [type='password'] {
	color: #312925;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 250px;
	height: 32px;
	font-size: 16px;
	text-align: center;
}

.default_form textarea {
	width: 400px;
	height: 200px;
	resize: vertical;
	font-size: 14px;
}

/*.task_icon {
	text-decoration: none;
	color: #fff;
}

.task_icon:active {
	color: #54E50D;
}

.task_icon i {
	width: 16px;
	height: 16px;
}

#task_input_description {
	width: 100%;
	height: 10em;
}*/

/* FOOTER */

#footer {
	background-color: #B0683A;
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #ffffff;
	text-align: center;
}

#footer_info {
	padding-top: 40px;
	font-size: 20px;
	font-weight: bold;
}

#footer_info img {
	width: 100px;
	height: 100px;
}